@import "../../widgets/slideScreen/main";
@import "../../widgets/typejs/main";

.center-element{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slide-screen__item{
  color:white;
  &.landing{
    color: black;
  }
}
.landing{
  background-color: white;
}
.contact{
  background-color: black;

}
.mision{
  background-color: blue;
  .mision__content{
    max-width: 900px;
    margin: 0 auto;
    height: auto;
  }
}
.services{
  background-color: purple;
}
.principles{
  background-color: orangered;
}