{{#> c-base}}
    <div class="t-slider-page">
        {{> c-header title="Header text"}}
        <div class="slide-screen">
            <section class="slide-screen__item landing">
                <div class="screen-cta screen-cta--left" data-screen="screen-left">Mision</div>
                <div class="screen-cta screen-cta--down" data-screen="screen-down">Services</div>
                <div class="screen-cta screen-cta--right" data-screen="screen-right">Principle</div>
                <div class="screen-cta screen-cta--up" data-screen="screen-up">Contact</div>
            </section>
            <section id="screen-left" class="slide-screen__item left mision">
                <div class="center-element">MISION</div>
                <div class="screen-cta screen-cta--left" data-screen="screen-left">Go Back</div>
            </section>
            <section id="screen-down" class="slide-screen__item down services">
                <div class="center-element">SERVICES</div>
                <div class="screen-cta screen-cta--down" data-screen="screen-down">Go Back</div>
            </section>
            <section id="screen-right" class="slide-screen__item right principles">
                <div class="center-element">PRINCIPLES</div>
                <div class="screen-cta screen-cta--right" data-screen="screen-right">Go Back</div>
            </section>
            <section id="screen-up" class="slide-screen__item up contact">
                <div class="center-element">CONTACT</div>
                <div class="screen-cta screen-cta--up" data-screen="screen-up">Go Back</div>
            </section>
        </div>
    </div>
{{/c-base}}