/* Media Query Vars */
$mq_breakpoint--xs:			480px;
$mq_breakpoint--sm:			600px;
$mq_breakpoint--md: 		769px;
$mq_breakpoint--lg: 		1024px;
$mq_breakpoint--xl: 		1280px;
$mq_breakpoint--xxl: 		1367px;
