.bg-anim{
  .bg-anim__img{
    transition: opacity .5s;
    background: url(assets/img/bg-image.jpg) no-repeat center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &.bg-anim--color-1{
    background-color: #a3c5cb;
    transition: background-color .5s;
    background-image: none;
    .bg-anim__img{
      opacity: 0;
      transition: opacity .5s;
    }
  }
  &.bg-anim--color-2{
    background-color: #885f5e;
    transition: background-color .5s;
    background-image: none;
    .bg-anim__img{
      opacity: 0;
      transition: opacity .5s;
    }
  }
  &.bg-anim--color-3{
    background-color: #002155;
    transition: background-color .5s;
    background-image: none;
    .bg-anim__img{
      opacity: 0;
      transition: opacity .5s;
    }
  }

}