.bg-anim {
  .bg-anim__img {
    transition: opacity .7s;
    background: url(assets/img/bg-image.jpg) no-repeat center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -4;
  }
  .bg-anim--color {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: opacity .5s;
    &.bg-anim--color-1{
      background-color: #a3c5cb;
      z-index: -3;
    }
    &.bg-anim--color-2{
      background-color: #885f5e;
      z-index: -2;
    }
    &.bg-anim--color-3{
      background-color: #002155;
      z-index: -1;
    }
  }
  &.anim--color-1 {
    .bg-anim--color-1 {
      opacity: 1;
      transition: opacity .5s;
    }
  }
  &.anim--color-2 {
    .bg-anim--color-2 {
      opacity: 1;
      transition: opacity .5s;
    }
  }
  &.anim--color-3 {
    .bg-anim--color-3 {
      opacity: 1;
      transition: opacity .5s;
    }
  }
}