.p-grid{
  display: flex;
  flex-flow: row wrap;

  .p-grid__col {
    flex: 1;

    &:not(:last-child){
      @include mediaQueryMin($mq_breakpoint--sm) {
        padding: 0 20px 0 0;
      }
    }
    @for $col from 1 through 12 {

      &.p-grid__col--sm-#{$col} {
        @include mediaQueryMax($mq_breakpoint--sm) {
          width: percentage(1/$col);
          flex: inherit;
        };
      }

      &.p-grid__col--md-#{$col} {
        @include mediaQueryMin($mq_breakpoint--sm) {
          width: percentage(1/$col);
          flex: inherit;
        };
      }

      &.p-grid__col--lg-#{$col} {
        @include mediaQueryMin($mq_breakpoint--lg) {
          width: percentage(1/$col);
          flex: inherit;
        };
      }

      &.p-grid__col--xl-#{$col} {
        @include mediaQueryMin($mq_breakpoint--xl) {
          width: percentage(1/$col);
          flex: inherit;
        };
      }
    }
  }
}