{{#> c-base}}
    <div class="t-page">
        {{> c-header title="Header text"}}
        {{#> c-main}}
            <c-chart></c-chart>
        {{/c-main}}
        {{> c-footer}}
    </div>
{{/c-base}}

