{{#> c-base}}
    <div class="t-landing">
        {{> c-header title="Header text"}}
        {{#> c-main}}
            <p>This is the main content of the landing</p>
            <div class="p-img">
                <img src="/assets/img/html5.jpg">
            </div>
        {{/c-main}}
        {{> c-footer}}
    </div>
{{/c-base}}

