{{#> c-base}}
    <script></script>
    <div class="t-landing">
        {{> c-header title="Header text"}}
        {{#> c-main}}
            <p>This is the main content of the landing</p>
            {{#> p-grid }}
                <div class="p-grid__col">
                    <img src="/assets/img/html.jpg"/>
                </div>
            {{/p-grid}}
            <iframe id="iframe-test" onload="(function(){console.log(this); window.addEventListener('message', (e) => {document.querySelector('#iframe-test').style.height = e.data + 'px';}, false);})()" style="width: 100%; overflow: hidden; border: none;" src="http://localhost:2859/payment/default4.aspx?booknum=3888975&downPayment=0&totalPayment=48300"></iframe>
            <!--<iframe width="100%" src="page"></iframe>-->
        {{/c-main}}
        {{> c-footer}}
    </div>
{{/c-base}}

