{{#> c-base}}
    <div class="t-landing">
        {{> c-header title="Header text"}}
        {{#> c-main}}
            <p>This is the main content of the landing</p>
            {{#> p-grid }}
                <div class="p-grid__col">
                    <img src="assets/img/html.jpg"/>
                </div>
            {{/p-grid}}
        {{/c-main}}
        {{> c-footer}}
    </div>
{{/c-base}}

