<header class="p-header">
    {{#> p-wrapper}}
        <h1 class="p-title">{{title}}</h1>
        <nav class="p-nav">
            <ul class="p-nav__list">
                <li class="p-nav__list-item">
                    <a href="/">Item 1</a>
                </li>
                <li class="p-nav__list-item">
                    <a href="/">Item 2</a>
                </li>
                <li class="p-nav__list-item">
                    <a href="/">Item 3</a>
                </li>
            </ul>
        </nav>
    {{/p-wrapper}}
</header>