<main class="p-main">
    {{#> p-content-block}}
        {{#> p-wrapper}}
            {{> @partial-block }}
        {{/p-wrapper}}
        <img style="width: 100%" src="../../assets/img/html5.jpg">
    {{/p-content-block}}
</main>