{{#> c-base}}
    <div class="t-page bg-anim">
        <div class="bg-anim__img"></div>
        <div class="bg-anim--color bg-anim--color-1"></div>
        <div class="bg-anim--color bg-anim--color-2"></div>
        <div class="bg-anim--color bg-anim--color-3"></div>
        {{> c-header title="Header text"}}
        {{#> c-main}}
            <p>This is the main content of an Average page</p>
            <section class="bg-anim__ref" data-background-anim="bg-0"  style="margin-bottom: 100px">
                {{#> p-grid }}
                    <div class="p-grid__col p-grid__col--sm-1">
                        <img src="/assets/img/html.jpg">
                    </div>
                    <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                {{/p-grid}}
                {{#> p-grid }}
                    <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                    <div class="p-grid__col p-grid__col--sm-1">
                        <img src="/assets/img/html.jpg">
                    </div>
                {{/p-grid}}
            </section>
            <section class="bg-anim__ref" data-background-anim="bg-1" style="margin-bottom: 100px">
                {{#> p-grid }}
                    <div class="p-grid__col p-grid__col--sm-1">
                        <img src="/assets/img/html.jpg">
                    </div>
                    <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                {{/p-grid}}
                {{#> p-grid }}
                    <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                    <div class="parallax__el p-grid__col p-grid__col--sm-1">
                        <img src="/assets/img/html.jpg">
                    </div>
                {{/p-grid}}
            </section>
            <section class="bg-anim__ref" data-background-anim="bg-2" style="margin-bottom: 100px">
                {{#> p-grid }}
                    <div class="parallax__el p-grid__col p-grid__col--md-3 p-grid__col--sm-1 p-grid__offset-left--md-3 p-grid__offset-right--md-3">
                        <img src="/assets/img/html.jpg">
                    </div>
                {{/p-grid}}
                {{#> p-grid }}
                    <div class="parallax__el p-grid__col p-grid__col--md-2 p-grid__col--sm-1 p-grid__offset-left--md-4">
                        <img src="/assets/img/html.jpg">
                    </div>
                {{/p-grid}}
            </section>
            <section class="bg-anim__ref" data-background-anim="bg-3" style="margin-bottom: 100px">
                {{#> p-grid }}
                    <div class="parallax__el p-grid__col p-grid__col--sm-1">
                        <img src="/assets/img/html.jpg">
                    </div>
                    <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                {{/p-grid}}
                {{#> p-grid }}
                    <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                    <div class="parallax__el p-grid__col p-grid__col--sm-1">
                        <img src="/assets/img/html.jpg">
                    </div>
                {{/p-grid}}
            </section>
        {{/c-main}}
        {{> c-footer}}
    </div>
{{/c-base}}

