{{#> c-base}}
    <div class="t-page">
        {{> c-header title="Header text"}}
        {{#> c-main}}
            <p>This is the main content of an Average page</p>
            {{#> p-grid }}
                <div class="p-grid__col p-grid__col--sm-1">
                    <img src="/assets/img/html.jpg">
                </div>
                <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
            {{/p-grid}}
            {{#> p-grid }}
                <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                <div class="p-grid__col p-grid__col--sm-1">
                    <img src="/assets/img/html.jpg">
                </div>
            {{/p-grid}}
            {{#> p-grid }}
                <div class="p-grid__col p-grid__col--sm-1">
                    <img src="/assets/img/html.jpg">
                </div>
                <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
            {{/p-grid}}
            {{#> p-grid }}
                <div class="p-grid__col p-grid__col--md-3 p-grid__col--sm-1"></div>
                <div class="p-grid__col p-grid__col--sm-1">
                    <img src="/assets/img/html.jpg">
                </div>
            {{/p-grid}}
        {{/c-main}}
        {{> c-footer}}
    </div>
{{/c-base}}

